# ROS2 ignores
build/
install/
log/
__pycache__/

# Copyrighted api from sonar manufacturer
DSSPParser.hpp
DSSPParser.cpp
DVSFileWriter.hpp
DVSFileWriter.cpp
EthernetSonarAPI.hpp
EthernetSonarAPI.cpp

# Julia
Manifest.toml

# VS Sode
.vscode

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Various folders
processed_frames/
bags/
images/
